@import "../variable";
.gulu-input {
  border: 1px solid #ddd;
  line-height: 22px;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 0 0 2px fade-out($main, 1);
  transition: box-shadow 250ms;
  &:focus {
    outline: none;
    border-color: $main;
    box-shadow: 0 0 0 2px fade-out($main, .5);
  }
}
