.gulu-scroll {
  position: relative;
  &-inner {
    overflow: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //兼容Firefox
    scrollbar-width: none;
  }
  //兼容 Chrome
  &-inner::-webkit-scrollbar {
    width: 0 !important;
  }
  &-track {
    width: 10px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
  &-bar {
    height: 30px;
    background: rgba(128, 128, 128, 0.3);
    position: absolute;
    top: 0;
    left: 1px;
    width: 8px;
    border-radius: 4px;
  }
  .fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }

}
