.gulu-scroll {
  position: relative;
  &-inner {
    overflow: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //兼容Firefox
    scrollbar-width: none;
  }
  //兼容 Chrome
  &-inner::-webkit-scrollbar {
    width: 0 !important;
  }
  &-track {
    border: 1px solid blue;
    width: 10px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
  &-bar {
    height: 30px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
