.footer, .header {
  height: 40px;
  background: #58a55c;
  margin: 4px 0;

}
.content {
  background: lighten(#58a55c, 10%);
  margin: 4px 0;

}
.aside {
  background: lighten(#58a55c, 20%);
  margin: 4px 0;

}

.content + .aside, .aside + .content, .aside + .gulu-layout{
  margin-left: 8px;
}
